In [1]:
import numpy as np
import pandas as pd

In [2]:
mult_ind = pd.MultiIndex(levels=[['A', 'B', 'C'], ['left', 'right']],
                     codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [3]:
df = pd.DataFrame(np.random.randn(6, 3), mult_ind, ['X', 'Y', 'Z'])

In [4]:
df

                X         Y         Z
A left  -0.278861  2.381226  0.191824
  right -0.680788 -0.293809  0.337252
B left   1.161565  1.270876  0.459915
  right -2.046578  0.969786  0.127985
C left   0.198669 -0.488246 -0.612958
  right  0.759700 -0.616075 -0.682834

In [13]:
df.loc['C'].loc['left']['X']

0.19866928255823726

In [14]:
df.index.names = ['Points','Sides']

In [15]:
df

                     X         Y         Z
Points Sides
A      left  -0.278861  2.381226  0.191824
       right -0.680788 -0.293809  0.337252
B      left   1.161565  1.270876  0.459915
       right -2.046578  0.969786  0.127985
C      left   0.198669 -0.488246 -0.612958
       right  0.759700 -0.616075 -0.682834

In [20]:
df.xs('right', level='Sides')['Y']

Points
A   -0.293809
B    0.969786
C   -0.616075
Name: Y, dtype: float64